:root {
	--primary: rgb(211, 177, 26);
	--primary_blue: rgb(6, 18, 71);
}

.big-project-border{
	width: 90%;
	height: 450px;
	background-color: white;
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding:0px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-card-image{
	width: auto;
	float: right;
	height: 450px;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	margin-left: 2vw;
}

.big-project-name{
	margin: 2vh;
	color: var(--primary_blue);
	font-size: 30px;
}

.big-project-cards-brief-description{
	margin: 2vw;
	margin-left: 4vw;
	font-size: max(18px, 1vw);
	text-align: justify;
}

.big-link-text{
	margin-top:70px ;
	float: right;
	color: var(--primary);
}

.big-link-text:hover {
  color: var(--primary_blue);
	transform: scale(1.05);
	transition: all 0.1s ease-out;
}