:root {
	--primary: rgb(211, 177, 26);
	--primary_blue: rgb(0, 23, 126);
}

.big-project-border{
	width: 90%;
	height: 400px;
	background-color: white;
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding:0px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-card-image{
	width:auto;
	float: right;
	height: 400px;
	border-radius: 0 5px 5px 0;
}

.big-project-name{
	margin: 40px;
	color: var(--primary_blue);
	font-size: 30px;
}

.big-project-cards-brief-description{
	margin: 30px;
	margin-left: 60px;
}

.big-link-text{
	margin-top:70px ;
	float: right;
	color: var(--primary);
}

.big-link-text:hover {
  color: var(--primary_blue);
	transform: scale(1.05);
	transition: all 0.1s ease-out;
}