:root {
    --primary: #F0C26B;
    --primary_gold:rgb(221, 192, 62);;
    --dark_gold:rgb(175, 146, 18);
    --primary_blue: rgb(0, 23, 126);
}
*{
    font-family: Clancy;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.btn--primary {
    background-color: var(--primary);
    color: #000;
    border: 1px solid var(--primary);
    margin-left: 5px;
    margin-right: 5px;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 5px;
    margin-right: 5px;
}
.btn--outline--large {
    background-color: transparent;
    padding: 20px 50px;
    border: 1px solid var(--primary_blue);
    transition: all 0.3s ease-out;
    background-color: var(--primary_gold);
    border-radius: 5px;
    top: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn--large {
    background-color: transparent;
    color: #fff;
    padding: 80px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 10px;
    margin-right: 10px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #000;
    transition: all 0.3s ease-out;
}

.btn--outline:hover {
    background: var(--primary);
    color: #000;
    transition: all 0.3s ease-out;
}

.btn--outline--large:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}