
.background-border{
    height: 450px;
    padding:20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.logPost_description, .logPost_date {
    margin: 5px;
    font-size: max(1.2vw, 15px) 
}

.logPost_date {
    color: rgb(240, 194, 107);
    font-size: max(1.5vw, 20px) 
}

.log-image{
    padding: 2vmin;
    display: flex;
    justify-content: center;
    filter: none;
    filter: brightness(100%);
    opacity: 2;
    border-radius: 5px;
}

.log-image-size{
    width: auto;
    height: 200px;
    border-radius: 5px;
}
.text-div{
    margin-right: 20px;
}