* {
  box-sizing: border-box;
	margin: 0;
}

.back-home { 
  position: relative; 
  height: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: url("../images/team.jpg");
  background-size: cover;
}
.back-home::before {    
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(22, 23, 61, 0.479);
}

.home-swt-text {
  position: relative;
  color: rgb(255, 255, 255);
  padding: 2vw;
  margin: 2vw;
  margin-top: 5%;
  opacity: 1;
}

.home-swt-button{
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  position: relative; 

  margin-top: 0;
  text-align: center;

}


.header {
  border: 1px solid red;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
 	padding: 0;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}