
.background-border{
    width: 90%;
    padding:20px;
    margin:20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


p, h3 {
    margin: 5px;
}

h3 {
    color: rgb(240, 194, 107);
}

.log-image{
    padding: 30px;
    filter: none;
    filter: brightness(100%);
    opacity: 2;
}