.TitleBox {
    border: 1px solid #545a5b;
    background-color: #545a5b;
    margin-right: auto;
    width: 20%;
}
.this_is_subtitle {
    text-align: center;
    margin-top: 5px;
    color: white;
}
.this_is_title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}