.TitleBox {
    padding:2vmin;
    margin:2vmin;
}
.unsw_subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 4vw;
    margin-top: 5px;
    color: white;
}
.homeText_swt {
    text-align: center;
    font-weight: 500;
    font-size: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: white;
}

.homeText-text{
    margin: 5vmin;
  }