.footer{
    float: inline-end;
    background-color: rgb(0, 10, 54);
    height: 35vmin;
    margin-top: 2vh;
}

.swt-footer-text{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin: auto;
    padding-top: 3vh;
}

.footer-logo{
    font-size: 5vw;
    text-align: center;
    margin: auto;
    padding-top: 3vh;
}
.swt-logo-footer{
    width: 25vw;
    height: auto;
}