.footer{
    bottom: 0px;
    background-color: rgb(0, 10, 54);
    height: 24vmin;
    position: bottom;
}

.swt-footer-text{
    color: white;
    font-size: 3vmin;
    text-align: center;
    margin: auto;
    padding-top: 3vmin;
}

.footer-logo{
    font-size: 5vmin;
    text-align: center;
    margin: auto;
    padding-top: 3vmin;
}
.swt-logo-footer{
    width: auto;
    height: 10vmin;
}