.academic-profiles {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.academic-profile-image {
    width: 15vw;
    height: 15vw;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid rgb(6, 18, 71);
    margin-bottom: 1vh;
}
.academic-profile-name {
    color: rgb(6, 18, 71);
    font-size: max(20px, 2vw);
    margin-bottom: 0.5vh;
}

.academic-profile-role, .academic-profile-degree {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: max(12px, 1.5vw);
}